h1 {
    color: rgb(39, 139, 0); 
    font-size: 24px;
    margin: 0;
} 



.first-phone {
    background-color: rgb(28, 136, 172);
    color: darkblue;
}


.motorola {
    background-color: rgb(88, 134, 196);
    color: blue;
}


.nokia {
    background-color: rgb(163, 25, 182);
    color: rgb(18, 61, 124);
}


.sharp {
    background-color: lightcoral;
    color: maroon;
}


.iphone {
    background-color: lightyellow;
    color: rgb(150, 87, 9);
}



#milestones-table {
    border: 2px solid black;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}



li {
    list-style-type: none;
    padding: 10px;
    margin: 5px 0;
}